.form-contato
{
    width: 61%;
    float: left;
    margin-right: 25px;
}

.row > .colum
{
    width: 320px;
    border-bottom: 1px solid #018dd5;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

.form-contato .btn-contato
{
    float: right;
    margin-top: 0px !important;
}