*
{
    scroll-behavior: smooth;
}

html,body
{
    width: 100%;
}

body
{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    background-image: url('/img/bg-body.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}