
.wrap-menu
{
    float: right;
}

.btnMenu
{
    display: none;
    height: 24px;
    width: 24px;
    background-image: url(../../img/menu.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    text-indent: -9999px;
}

.menu
{
    display: inline-block;
}

.menu > .item
{
    float: left;
    font-size: 1.333em;
    text-transform: uppercase;
}

.menu > .item:not(:last-child)
{
    margin-right: 2.928vw;
}

.item > .action
{
    color: #34495e;
}


@media(max-width:768px)
{
    body
    {
        overflow: hidden;
    }

    .wrap-menu
    {
        float: none;
        width: 100%
    }

    .btnMenu
    {
        display: block;
        float: right;
    }

    .open
    {
        transform: translateX(0px) !important;
    }

    .menu
    {
        width: 100%;
        transform: translateX(120%) translateY(-120%);
        transition: transform 200ms linear;
    }

    .menu > .item
    {
        float: none;
        background-color: #34495e;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #27ae60;
        margin: 0 !important;
        cursor: pointer;
    }

    .item > .action
    {
        color: #ecf0f1
    }
}