.menuOpen
{
    background-image: url(../../img/menu.svg);
}

.menuClose
{
    background-image: url(../../img/menu-branco.svg);
    background-color: #747c81;
}

.btnMenu
{
    display: block;
    background-position: 15px center;
    background-repeat: no-repeat;
    text-indent: -99999px;
    padding: 20px 15px;
    background-size: 24px;
}

.mostrar
{
    transform: translateX(0) !important;
}

.menu
{
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 200ms linear;
}

.menu .menu-item
{
    padding: 20px 15px;
    border-bottom: 1px solid rgba(116,124,129,0.8);
}