body
{
    font-family: 'Roboto', sans-serif;
}

.containerArredondada
{
    width: 41%;
    height: 620px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}

.imgRedonda
{
    height: 735px;
    width: 735px;
    position: relative;
    left: -176px;
    top: -60px;
}

.containerMenu
{
    padding-top: 42px;
    /*text-align: center;*/
}
.containerMenu a
{
    color: #777777;
    font-size: 14px;
    margin-right: 47px;
}

.containerDestaque
{
    margin-top: 100px;
}

.textoVermelho
{
    color: #F20000;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.textoDestaque
{
    font-style: italic;
    font-size: 36px;
    line-height: 38px;
    width: 407px;
    display: inline-block;
    margin-top: 9px;
}

.btn
{
    background-color: #F20000;
    border: none;
    padding: 16px 51px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin-top: 73px;
    cursor: pointer;
}

.btn:active
{
    background-color: #CF0101;
}

.containerMaisRecente
{
    margin-top:100px;
}

.imgMaisRecente
{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 9px;
    border-radius: 4px;
}

.containerDescricaoMaisRecente
{
    margin-top: 13px;
    float: left;
}

.tituloMaisRecente
{
    color: #CCCCCC;
    font-size: 8px
}

.descricaoMaisRecengte
{
    color: #555555;
    font-display: 14px;
    font-weight: bold;
    margin-top: 5px;
}


