.btn
{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.btn-saibamais
{
    background-color: #edb24f;
    margin-right: 20px;
}

.btn-saibamais:hover
{
    background-color: #e48f00;
}

.btn-contato
{
    background-color: #00b362
}

.btn-contato:hover
{
    background-color: #008649;
}

