:root
{
    --color-zero: #fff;
    --color-light: #F2F2F2;
    --color-light2: #D8D8D8;
    --color-light-blue: #0000EE;
    --color-negative: #0C0E0E;
    --color-orange: #FF8F00;
    --color-blue: #0D65FF;
}