.container-conteudo
{
    clear: both;
    height:480px;
    color: var(--color-zero);
}

.container-conteudo > .conteudo
{
    width: 588px;
    height:480px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}