.container-menu
{
    float: right;
    font-size: 16px;
}

.container-menu > .actionMenu
{
    color: #455A64;
    text-transform: uppercase;
    float: left;
}

.container-menu > .actionMenu:not(:last-child)
{
    margin-right: 20px;
}

.container-menu > .actionMenu::after
{
    width: 0px;
    height: 2px;
    content: "";
    background-color: #333;
    display: block;
    margin-top: 2px;
    transition: width 0.5s linear, height 0.5s linear;
}


.actionMenu:hover:after 
{
    width: 100%;
}


/*=============== MENU MOBILE ==============*/

.menuMobile
{
    width: 100%;
    background-color: #333;
    clear: both;
    display:none;
    position: absolute;
    top: 146px;
    left: 0;
}

.itemActiveMobile
{
    background-color: #fff;
    display: none;
}

.itemMobile
{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    text-align: center;
}

.actionMobile
{
    color: #B0BEC5;
}

.activeMobile
{
    font-size: 24px;
    color: #455A64;
    float: right;
    display: none;
}

.active
{
    display: block;
}


@media(max-width:768px)
{
    .actionMenu
    {
        display: none;
    }

    .activeMobile
    {
        display: block;
    }
}

@media(max-width:414px)
{
    .menuMobile
    {
        top: 110px;
    }

    .container-superior
    {
        display: none;
    }
}

@media(min-width:768px)
{
    .menuMobile
    {
        display: none  !important;
    }
}