.container-como-trabalhamos
{
    padding: 0 10%;
    margin: 50px 0;
    display: inline-block;
}

.title-section
{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.title-section::after
{
    content: "";
    width: 30%;
    height: 2px;
    display: block;
    background-color: #3498db;
    margin-top: 2px;
}

.coluna
{
    width: 48%;
    float: left;
}

.coluna:not(:last-child)
{
    margin-right: 15px;
}

.linha
{
    height: 90px;
}

.linha:not(:last-child)
{
    margin-bottom: 30px;
}

.icon-trabalhamos
{
    float: left;
    color: #3498db;
    font-size: 22px;
}

.titulo-como-trabalhamos
{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

.descricao-como-trabalhamos
{
    clear: both;
}

@media(max-width:762px)
{
    .container-como-trabalhamos
    {
        padding: 0 15px;
    }

    .coluna:not(:last-child)
    {
        margin-right: 25px;
    }
}

@media(max-width:730px)
{
    .coluna
    {
        width: 100%;
    }

    .descricao-como-trabalhamos
    {
        font-size: 17px;
    }

    .linha
    {
        margin-bottom: 30px;
    }
}