.container-principal
{
    width: 100%;
}

.container-introducao
{
    width: 100%;
    height: 550px;
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.1),
            rgba(0,0,0,0.8)
        ),
        url('/img/bg.jpg');
       
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-titulo
{
    text-align: center;
}

.frase
{
    font-size: 16px;
    margin-top: 10px;
}

.tituloPrincipal
{
    font-size: 64px;
    font-weight: bold;
}

.container-quadros
{
    margin-top: -30px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.container-quadros > .quadros
{
    width: 30%;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    -webkit-box-shadow: 10px 10px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -3px rgba(0,0,0,0.75);
}

.container-quadros > .quadros:not(:last-child)
{
    margin-right: 30px;
}

.titulo-quadros
{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.quadros-icon
{
    color: #3498db;
    font-size: 48px;
    margin-bottom: 20px;
}

.descricao-quadros
{
    margin-top: 10px;
    line-height: 20px;
}


@media(max-width:1080px)
{
    .container-quadros
    {
        padding: 0;
    }
}

@media(max-width:860px)
{
    .container-introducao
    {
        height: 300px;
    }

    .tituloPrincipal
    {
        font-size: 48px;
    }

    .container-quadros
    {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .container-quadros > .quadros
    {
        width: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px dotted #333333;
        border-radius: 0;
    }
}


@media(max-width:762px)
{
    .container-quadros
    {
        width: 100%;
        margin: 0;
    }

    .container-quadros > .quadros
    {
        box-sizing: border-box;
        padding-bottom: 30px !important;
    }

    .container-quadros > .quadros > .descricao-quadros
    {
        font-size: 17px;
    }
}