.container-footer
{
    clear: both;
    background-color: #333;
    color: #B0BEC5;
    padding: 15px 10%;
}

.container-footer a
{
    color: inherit;
}

.container-links > .list-link-footer > .item-link-footer
{
    padding: 5px 0;
}

.container-links
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.list-link-footer:not(:last-child)
{
    margin-right: 30px;
}

.midias-sociais
{
    display: flex
}

.midias-sociais > .item-link-footer:not(:last-child)
{
    margin-right: 10px;
}

.midias-sociais .link-midias-sociais
{
    font-size: 24px
}

.link-page:hover, .link-contato:hover
{
    text-decoration: underline;
}

.corpyright
{
    clear: both;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 13px;
}

@media(max-width: 762px)
{
    .container-footer
    {
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-links
    {
        flex-direction: column;
    }

    .list-link-footer:not(:last-child)
    {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .dados-contato
    {
        text-align: center;
    }
   
    .pages
    {
        display: flex;
        justify-content: center;
    }

    .pages > .item-link-footer:not(:last-child)
    {
        margin-right: 15px;
    }

    .midias-sociais
    {
        justify-content: center;
    }
}

@media(max-width: 375px)
{
   .pages
   {
       flex-direction: column;
       align-items: center;
   }

   .pages > .item-link-footer
   {
       margin-right: 0px !important;
   }
}